<!-- <div class="container">
  <div class="column">
    <div class="word" (mousedown)="onMouseDown($event, word)" (mouseup)="onMouseUp($event, word)" *ngFor="let word of wordsLeft">{{word}}</div>
  </div>
  <div class="column">
    <div class="word" (mousedown)="onMouseDown($event, word)" (mouseup)="onMouseUp($event, word)" *ngFor="let word of wordsRight">{{word}}</div>
  </div>
  <svg (mousemove)="onMouseMove($event)" class="svg-container">
    <line *ngFor="let line of lines" [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2" stroke="black"/>
  </svg>
</div> -->