@import '/src/styles/_variables';

.dropdown-menu{
    color: $primary-dark;
    border: 1px solid $primary-dark;
}

.form-control {
    background-color: $white;
    border-color: $primary-dark;

    &:focus {
        box-shadow: 0 0 2px 0.2rem $primary;
        background-color: $light;
        border-color: $primary-dark;
    }
}

a{
    color: $primary-dark;
    &:hover{
        color: $white;
    }
}
