<!-- <div class="container border m-1">
  <div class="row text-center">
    <div class="col-10 mx-auto">
      <h2>Exercici Drag in horizontal line</h2>
      <p>Ordena de gran a petit</p>
      <div
        cdkDropList
        cdkDropListOrientation="horizontal"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let word of arrayDrag" cdkDrag>
          {{ word }}
        </div>
      </div>
      <div *ngIf="answerIsValid" class="text-primary">RESPOSTA CORRECTA!</div>
      <div *ngIf="answerIsValid==false" class="text-danger">RESPOSTA SUPERINCORRECTA!</div>
    </div>
  </div>
</div> -->
