<!-- <div class="container border m-1">
  <div class="row text-center">
    <div class="col-10 mx-auto">
      <h2>Exercici Chip</h2>
      <div>
        <mat-chip-set class="h-100 border">
          <mat-chip
            *ngFor="let word of selectedWords"
            (click)="deselectWord(word)"
            >{{ word }}</mat-chip
          >
        </mat-chip-set>
      </div>

      <div>
        <mat-chip-set class="border h-100">
          <mat-chip
            *ngFor="let word of availableWords"
            (click)="selectWord(word)"
            >{{ word }}</mat-chip>
        </mat-chip-set>
      </div>
      <div *ngIf="answerIsValid" class="text-primary">RESPOSTA CORRECTA!</div>
      <div *ngIf="answerIsValid==false" class="text-danger">RESPOSTA SUPERINCORRECTA!</div>
    </div>
  </div>
  <div class="row"></div>
</div> -->
