<ng-container *ngIf="(vm$ | async) as vm">
  <div class="p-5">
    <header class="d-block d-lg-flex justify-content-between mb-3">
      <h2 class="text-center">Benvingut al teu espai d'alumne, {{currentUser.nom}}! <i class="fa-solid fa-graduation-cap"></i></h2>
      <div class="text-center align-self-end">
      <a *ngIf="currentUser.role == 1" routerLink="../teacher">Ves al meu espai de professor <i class="fa-solid fa-chalkboard-user"></i></a>
    </div>
    </header>
    

    <section class="dashboard d-flex justify-content-between mb-2">
      <!--MAIN PANEL-->
      <div class="main-panel mb-5 px-3 border-strong rounded bg-indigo-600">
        <div class="left bg-white rounded p-3">
        <div class="pb-3"><i class="fa-solid fa-list-check"></i> Deures: <a routerLink="/user/student/pending">{{vm['deures_pendents'].length}}</a> pendents.</div>
        <div class="pb-3"><i class="fa-solid fa-clock-rotate-left"></i> El meu historial: <a routerLink="/user/student/history">{{vm['history'].length}}</a> activitats</div>
        <div *ngIf="vm && vm['last_activity']['id_activitat'] != 0">
          <!-- <i class="fa-solid fa-rotate-right"></i>  -->
          <!-- <i class="fa-solid fa-bolt"></i>
          <i class="fa-solid fa-paperclip"></i>
          <i class="fa-brands fa-apple"></i>
          <i class="fa-solid fa-bookmark"></i>
          <i class="fa-regular fa-bookmark"></i> -->
          <i class="fa-solid fa-book-bookmark"></i> Reprèn l'última seqüència d'activitats:
          <a routerLink="/ex/{{vm['last_activity']['id_activitat']}}">{{vm['last_activity']['tema']}}</a>
        </div>
        </div>
      </div>

      <!--POINTS DASHBOARD (TOP-RIGHT CORNER)-->
        <div class="spikes right text-center bg-indigo-100 mb-5 p-3 px-lg-5">
        <h4>Has aconseguit {{points$ | async}} punts, l'enhorabona!</h4>
        <div class="d-flex justify-content-around mt-3">
        <div class="text-ortografia-600"><i class="fa-solid fa-user-pen"></i> {{vm['pointsOrto']}} punts<div><img [src]="getMedalIcon(vm['pointsOrto'])"></div></div>
        <div class="text-literatura-600"><i class="fa-solid fa-book"></i> {{vm['pointsLite']}} punts<div><img [src]="getMedalIcon(vm['pointsLite'])"></div></div>
        <div class="text-dialectes-600"><i class="fa-solid fa-gears"></i> {{vm['pointsDial']}} punts<div><img [src]="getMedalIcon(vm['pointsDial'])"></div></div>
        <div class="text-gramàtica-600"> <i class="fa-solid fa-earth-europe"></i> {{vm['pointsGram']}} punts<div><img [src]="getMedalIcon(vm['pointsGram'])"></div></div>
      </div>
      </div>
    </section>
      
      <!--GRUPS SECTION-->
    <section id="grups" class="mb-4 bg-white border-strong py-4">

      <h5 class="px-4"><i class="fa-solid fa-users"></i> Els meus grups</h5>
      <ng-template #noGroups>
        <p class="ms-4">No pertanys a cap grup. Podràs sol·licitar accés a un grup si un professor
        te'n proporciona l'id.</p>
      </ng-template>
      <ng-container *ngIf="(vm['grups']).length > 0; else noGroups">
      <!--CREATED GROUPS ROW-->
      <div class="row gx-0 gy-3 mt-3 mb-4">
        <ng-container *ngFor="let grup of vm['grups']; trackBy: trackByNom">
          <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mx-auto mx-sm-0 px-4">
            <div class="card d-flex justify-content-center bg-indigo-100 border-strong text-center">
            <img src="../../../../../../assets/20.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column align-items-center">
            <div class="card-title">Nom del grup: {{grup.nom}}</div>
            <div class="card-body text-center">
              Professor: {{grup.professor}}
            <div class="mb-3">
              Descripció: {{grup.descripcio}}
            </div>
            <button (click)="openModal(grup.id_grup)" class="btn btn-outline-danger">
              Sortir del grup <i class="fa-solid fa-door-open"></i>
            </button>
            </div>
          </div>
          </div>
        </div>
        </ng-container>
        </div>
        </ng-container>

        <!--QUERY-ACCES-TO-NEW-GROUP ROW-->
        <div class="row gx-0">
        <div class="col-12 col-lg-8 px-4">
          <div class="p-2 p-sm-3 bg-indigo-200 border-strong rounded">
          <h5>Sol·licita accés a un nou grup</h5>
          Introdueix el codi del grup que vols sol·licitar:
          <form>
          <input class="rounded" type="text" [(ngModel)]="idGroupAccess" name="idGroupAcc">
          <button (click)="openModal(undefined)" class="ms-3 btn btn-primary">Envia'l <i class="fa-solid fa-satellite-dish"></i></button>
          </form>
          </div>
          <confirmation-modal #confirmationModal (newConfirmationEvent)="askGroupAccessOrLeave()" [modalStyle]="modalStyle"
              [modalTitle]="modalTitle" 
              [modalBody]="modalBody"
              [modalButtonColor]="modalButtonColor"
              [successMessage]="successMessage">
          </confirmation-modal>
          <span *ngIf="errorSentQuery == true" class="text-danger">
            Error en la sol·licitud. És probable que tinguis una sol·licitud pendent per a aquest grup.
          </span>
        </div>
        </div>
      </section>
      <section class="row">
    <app-areas class="col-12 col-md-8"></app-areas>
    </section>
  </div>
</ng-container>


