<div class="p-3">
<ng-container *ngIf="(vm$ | async) as vm">
<h4 *ngIf="vm['grup']" class="">Alumnes de {{vm['grup']['nom']}}</h4>
<div class="table-wrapper my-3" *ngIf="vm['alumnes']">

  <!--TAULA-->
<table mat-table [dataSource]="vm['alumnes']" class="mat-elevation-z8">

  <!-- Nom Column -->
  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let element"> {{element['nom']}} </td>
  </ng-container>

  <!-- Punts Column --> 
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Adreça el. </th>
    <td mat-cell *matCellDef="let element"> {{element['email']}} </td>
  </ng-container>

  <!-- Historial Column -->
  <ng-container matColumnDef="historial">
    <th mat-header-cell *matHeaderCellDef> Historial </th>
    <td mat-cell *matCellDef="let element"> <a routerLink="../stud-history/{{element['user_id']}}">Veure historial</a> </td>
  </ng-container>

  <!-- Eliminar Column -->
  <ng-container matColumnDef="eliminar">
    <th mat-header-cell *matHeaderCellDef> Eliminar </th>
    <td mat-cell *matCellDef="let element">
      <button (click)="openModal(element['user_id'], element['nom'])" class="btn btn-block btn-outline-danger">Elimina'l <i class="fa-solid fa-user-large-slash d-none d-md-inline"></i></button>
    </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

<!--SOL·LICITUDS PENDENTS D'ALUMNES-->
  <div *ngIf="vm['alumnesPend'].length > 0" class="ms-3 mt-3">
    <h5>Alumnes que han sol·licitat l'accés al grup:</h5>
  <ng-container *ngFor="let alumne of vm['alumnesPend']; trackBy:trackById">
    <!-- <img src="{{alumne['img']}}" width="20px"> -->
    <span>{{alumne['nom']}} ({{alumne['email']}})  </span>
    <button (click)="confirmUserToGroup(alumne['user_id'])" class="btn btn-primary">Acceptar alumne</button>
  </ng-container>
</div>
</ng-container>

<button (click)="openModal()" class="btn btn-danger mt-3">Eliminar grup <i class="fa-solid fa-users-slash"></i></button>
<div>
</div>
</div>

<!--MODAL-->
  <confirmation-modal #confirmationModalStud (newConfirmationEvent)="deleteStudentOrGroup()"
    [modalStyle]="modalStyle"
    [modalTitle]="modalTitle" 
    [modalBody]="modalBody"
    [modalButtonColor]="modalButtonColor"
    [successMessage]="successMessage">
  </confirmation-modal>
