
        <h3 class="mb-3 mb-lg-4 text-patua text-main-800">Comença a practicar!</h3>
        <div class="fila-sup d-flex flex-column flex-sm-row">
          <button class="btn ortog text-ortografia-800 p-3  mb-3 col me-sm-3">
            <h4 class="mb-0 py-3" (click)="onAnchorClick('main-list', 'ortografia', 'ortografia')">Ortografia <i class="fa-solid fa-user-pen"></i></h4>
          </button>
          <button class="btn gram text-gramàtica-800 p-3  mb-3 py-3 col">
            <h4 class="mb-0 py-3" (click)="onAnchorClick('main-list', 'gramàtica', 'gramàtica')">Gramàtica <i class="fa-solid fa-gears"></i></h4>
          </button>
        </div>
        <div class="fila-inf d-flex flex-column flex-sm-row">
          <button class="btn dial text-dialectes-800 p-3  col py-3 me-sm-3 mb-3 mb-sm-0">
            <h4 class="mb-0 py-3" (click)="onAnchorClick('main-list', 'dialectes', 'dialectes')">Dialectes <i class="fa-solid fa-earth-europe"></i></h4>
          </button>
          <button class="btn lite text-literatura-800 p-3  col py-3">
            <h4 class="mb-0 py-3" (click)="onAnchorClick('main-list', 'literatura', 'literatura')">Literatura <i class="fa-solid fa-book"></i></h4>
          </button>
        </div>