<div class="text-justify">
  <h3>Què és ActiviCat?</h3>
  <p class="text-justify">És una pàgina d'activitats en català, classificades per àmbit, tema i subtema.
    Hi pots accedir lliurement. Si vols pots <b>registrar-te com a "estudiant"</b> per guardar activitats,
    fer seguiment, entrar en un grup. També pots <b>registrar-te com a "professor"</b> per enviar activitats
    als alumnes (encara que no estiguin registrats), formar grups, guardar activitats... Tant els usuaris
    registrats com a estudiants com els no registrats poden fer les activitats encomandes pel professor i
    enviar-li els resultats.
  </p>
</div>
