<!-- <div class="example-container">
  <h2>Verb o nom?</h2>

  <div
    cdkDropList
    #colOneList="cdkDropList"
    [cdkDropListData]="colOne"
    [cdkDropListConnectedTo]="[colTwoList, colThreeList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of colOne" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="example-container">
  <h2>Verb</h2>

  <div
    cdkDropList
    #colTwoList="cdkDropList"
    [cdkDropListData]="colTwo"
    [cdkDropListConnectedTo]="[colOneList, colThreeList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of colTwo" cdkDrag>{{item}}</div>
  </div>
</div>
<div class="example-container">
  <h2>Nom</h2>

  <div
    cdkDropList
    #colThreeList="cdkDropList"
    [cdkDropListData]="colThree"
    [cdkDropListConnectedTo]="[colOneList, colTwoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of colThree" cdkDrag>{{item}}</div>
  </div> -->