<div class="text-indigo-800">
  <app-scroll-to-top></app-scroll-to-top>
  <h1 class="text-center mt-5 text-patua">Activi<b>Cat</b></h1>
  <h3 class="text-center">- Exercicis de català -</h3>
  <div class="container-fluid p-0 mt-4">

    <section class="row justify-content-around gx-0 mb-3 mb-md-4 mb-lg-5 mx-3">

      <!--LEFT PANEL (AREAS)-->
      <app-areas class="col-12 col-lg mb-3 mb-lg-0 bg-white flex-column flex-lg-row text-center p-3 border-strong"></app-areas>
      
      <!--RIGHT PANEL (REGISTER AS)-->
      <div *ngIf="!currentUser" class="col-12 col-lg ms-lg-5 justify-content-between flex-gap border-strong bg-white p-3 d-flex flex-column cursor-pointer">
        <div class="p-3 bg-indigo-100 hover-transp height-55" (click)="navigateToStudentForm()">
          <h4 class="mb-0">Registra't com a <b>estudiant </b><i class="fa-solid fa-graduation-cap"></i></h4>
          <ul>
            <li>Guarda un historial d'exercicis</li>
            <li>Aconsegueix punts i supera reptes</li>
            <li>
              Entra als grups dels teus professors perquè et pugui fer seguiment.
            </li>
          </ul>
        </div>
        <div class="p-3 bg-light bg-indigo-200 hover-transp height-45" (click)="navigateToTeacherForm()">
          <h4 class="mb-0">Registra't com a <b>professor </b><i class="fa-solid fa-chalkboard-user"></i></h4>
          <ul>
            <li>Envia deures a estudiants registrats i no registrats.</li>
            <li>Crea grups classe i fes seguiment dels alumnes.</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="row gx-0 text-justify bg-white border-strong text-indigo-800 p-4 mx-3">
      <app-overview id="overview"></app-overview>
    </section>

    <section class="row p-4 gx-0 bg-white text-indigo-800 mt-3 mt-md-4 mt-lg-5 mx-3 border-strong">
      <app-aboutus id="aboutus"></app-aboutus>
    </section>
  </div>
  </div>

